<mat-toolbar class="topbar">

  <!-- Desktop toggle -->
  @if(showToggle) {
  <button mat-icon-button (click)="toggleCollapsed.emit()" class="d-flex justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  }

  <!-- Mobile toggle -->
  @if(!showToggle) {
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  }

  <!-- Search -->
  <button mat-icon-button (click)="openDialog()" class="d-flex justify-content-center">
    <i-tabler name="search" class="icon-20 d-flex"></i-tabler>
  </button>

  <span class="flex-1-auto"></span>

  <!-- Profile Dropdown -->
  <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="User profile">
    <div
      class="rounded-circle d-flex align-items-center justify-content-center f-w-700 f-s-16"
      style="width: 35px; height: 35px; background: var(--mat-sys-primary-container, #e8f0fe); color: var(--mat-sys-primary, #1565c0);"
    >
      {{ userInitial }}
    </div>
  </button>

  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <div class="p-x-32 p-y-16">
      <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">User Profile</h6>

      <div class="d-flex align-items-center p-b-24 b-b-1 m-t-16">
        <div
          class="rounded-circle d-flex align-items-center justify-content-center f-w-700 f-s-24"
          style="width: 72px; height: 72px; background: var(--mat-sys-primary-container, #e8f0fe); color: var(--mat-sys-primary, #1565c0); flex-shrink: 0;"
        >
          {{ userInitial }}
        </div>
        <div class="m-l-16">
          <h6 class="f-s-14 f-w-600 m-0 mat-subtitle-1">{{ userFullName }}</h6>
          <span class="f-s-13 d-block m-b-4">System Administrator</span>
          <span class="d-flex align-items-center f-s-13">
            <i-tabler name="mail" class="icon-15 m-r-4"></i-tabler>
            {{ userEmail }}
          </span>
        </div>
      </div>
    </div>

    <div class="p-y-12 p-x-32">
      <button mat-stroked-button color="warn" class="w-100" (click)="logout()">
        <i-tabler name="logout" class="icon-18 m-r-8"></i-tabler>
        Logout
      </button>
    </div>
  </mat-menu>

</mat-toolbar>
