<app-top-cards [stats]="stats" [isLoading]="isLoading"></app-top-cards>

<div class="row m-t-24">


  <!-- Report Status Breakdown (donut) -->
  <div class="col-lg-4 col-12">
    <app-report-overview [data]="stats?.academics"></app-report-overview>
  </div>

  <!-- Finance Monthly Activity (stacked bar) -->
  <div class="col-lg-8 col-12 m-t-24">
    <app-finance-trend [data]="stats?.billing?.monthlyStats"></app-finance-trend>
  </div>

  <!-- Audit Logs Trend (sparkline) -->
  <div class="col-lg-4 col-12 m-t-24">
    <app-audit-trend [data]="stats?.users?.auditLogsByMonth" [total]="stats?.users?.totalAuditLogs">
    </app-audit-trend>
  </div>
</div>